* {
    box-sizing: border-box;
}
body
{
    background-color: color-mix(in srgb, #ffffff 70%, #4704414f)
}
.topbar
{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px #3d814bc2;
    background-color: #2185217d;
    text-align: center;
    gap: 30px;

}
.topbar p
{
    display: flex;
    text-align: center;
    color: #e1e3de;
    font-size: 2.3rem;
}
.topbar img
{
    width: 100px;
    height: 100px;
    margin: 7px 20px 0px 0px;
    border-radius: 6.6px;
    display: block;
}

.libraryGrid
{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 30px;
    row-gap: 50px;
    padding: 50px;
    justify-content: center;
    margin-right: 50px;
}
.dialogContainer
{
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}
.openButton.book
{
    
    text-align: center;
    font-size: 2.3rem;
    border-radius: 12px;
    background-color: #3d934e;
    color: #ece8ed;
    line-height: normal;
    padding: 50px;
    padding-top: auto;
    
}
.booksContainer
{
    display: contents;
}

.book 
{
    border-radius: 12px;
    padding: 10px;
    padding-top: 63px;
    width: 200px;
    height: 280px;
    background-color: #6bcd7a;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 32px;
    color: white;
}