* {
    box-sizing: border-box;
}
body
{
    background-color: color-mix(in srgb, #ffffff 70%, #4704414f)
}
.topbar
{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px #3d814bc2;
    background-color: #2185217d;
    text-align: center;
    gap: 30px;

}
.topbar p
{
    display: flex;
    text-align: center;
    color: #e1e3de;
    font-size: 2.3rem;
}
.topbar img
{
    width: 100px;
    height: 100px;
    margin: 7px 20px 0px 0px;
    border-radius: 6.6px;
    display: block;
}

.libraryGrid
{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 30px;
    row-gap: 50px;
    padding: 50px;
    justify-content: center;
    margin-right: 50px;
}
.dialogContainer
{
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.openButton.book
{
    
    text-align: center;
    border-radius: 12px;
    background-color: #35b2357d;
    color: #ece8ed;
    transition: 0.25s;
    
}
.openButton.book:hover
{
    background-color: #23f4237d;
}
.openButton.book span
{
    font-size: 5rem;
    line-height: 70px;
    padding: 50px;
}
.openButton.book span::after
{
    content: "Add Book";
    font-size: 1.2rem;
    display: block;
    line-height: 25px;
    white-space: nowrap;
}
.openButton.book span:hover
{
    font-size: 400%;
}
.openButton.book span:hover:after
{
    font-size: 20%;
}

.booksContainer
{
    display: contents;
}

.book 
{
    padding: 10px;
    padding-top: 27px;
    width: 200px;
    height: 280px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.5rem;
    line-height: 32px;
    color: rgb(129, 127, 127);
    border: 2.5px solid rgba(0, 0, 0, 0.274);
    border-radius: 12px;
    transition: all 0.35s ease;
}
.book:hover
{
    transform: scale(1.1);
}
.deleteButton
{
    border-radius: 7px;
    border-color: firebrick;
    border-width: 1.85px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 1rem;
    color: firebrick;
    position: absolute;
    top: 64%;
    transition: 0.5s;
}
.deleteButton:hover
{
    color: #ffffff;
    background-color: firebrick;
}
.isReadButton
{
    border-color: #00b100; 
    color: #00b100;
    position: absolute;
    top: 82%;
    border-radius: 7px;
    border-width: 1.85px;
    padding: 7px;
    padding-left: 10px;
    font-size: 1rem;
    transition: 0.5s;

}
.isReadButton:hover
{
    color: #ffffff;
    background-color: #00b100;
}

dialog#formDialog
{
    background-color: rgb(203, 130, 229);
    width: 600px;
    height: auto;
    max-height: 670px;
    /* height: 550px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}
dialog#formDialog::backdrop
{
    backdrop-filter: blur(5px);
}

fieldset
{
    padding-top: 0;
    width: 550px;
    height: auto;
    /* height: 480px; */
    /* color: white; */
  
}
h1
{
    color: white;
}
form
{
    position: relative;
    margin-top: 0% auto;
    font-size: 1.4rem;
}
form button
{
    margin-top: 9.5px;
    padding: 5px 6px 7px;
    font-size: 1.3rem;
    border: none;
    border-radius: 7px;
    background-color: #e8bff6;
    color: #f1f1f1;
    transition: 0.15s ease;
    width: fit-content;
}
form button:hover
{
    padding: 7px 8px 9px;
    background-color: #e9b0fc;

}
p#radioLabel
{
    margin-bottom: 0.7%;
}
.Yes_No
{
    margin-top: 0% auto;
}
input
{
    border-radius: 7px;
}
input:invalid
{
    border: 2px solid red;
}
.errorMsg
{
    line-height: 0;
    margin: 2px 0 15px 0;
    padding: 0 8px;
    font-size: 1.1rem;
    padding: 8px;
}
label
{ 
    margin-bottom: 0;
}
