
.topbar
{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px #3d814bc2;
    background-color: #2185217d;
    text-align: center;
    gap: 30px;

}
.topbar p
{
    display: flex;
    text-align: center;
    color: #e1e3de;
    font-size: 2.3rem;
}
.topbar img
{
    width: 100px;
    height: 100px;
    margin: 7px 20px 0px 0px;
    border-radius: 6.6px;
    display: block;
    align-items: flex-start;
}

.body
{

}
.dialogContainer
{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.openButton
{
    display: flex;
    text-align: center;
    align-items: center;
    width: 200px;
    font-size: 2.3rem;
    height: 275px;
    border-radius: 12px;
    background-color: blueviolet;
    color: #ece8ed;
    
}
.booksContainer
{
    display: flex;
    gap: 15px;
    padding: 150px;
    justify-self: center;
}

.book 
{
    border-radius: 12px;
    padding: 50px;
    width: 110px;
    height: 185px;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
}


