.booksContainer
{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book 
{
    border-radius: 60px;
    padding: 18px;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    text-align: center;
}