* {box-sizing: border-box;}
.topbar
{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px #3d814bc2;
    background-color: #2185217d;
    text-align: center;
    gap: 30px;

}
.topbar p
{
    display: flex;
    text-align: center;
    color: #e1e3de;
    font-size: 2.3rem;
}
.topbar img
{
    width: 100px;
    height: 100px;
    margin: 7px 20px 0px 0px;
    border-radius: 6.6px;
    display: block;
}

.body
{

}
.libraryGrid
{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 30px;
    row-gap: 50px;
    padding: 50px;
    justify-content: center;
    margin-right: 50px;
}
.dialogContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.openButton.book
{
    
    text-align: center;
    font-size: 2.3rem;
    border-radius: 12px;
    background-color: blueviolet;
    color: #ece8ed;
    
}
.booksContainer
{
    display: contents;
}

.book 
{
    border-radius: 12px;
    padding: 50px;
    width: 200px;
    height: 280px;
    background-color: aqua;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}